/* Common parts */

header {
	text-align: center;
	width: 100%;
}

h3 {
	text-align: center;
}

div#left_block {
	float: left;
	width: 20%;
	height: 100%;
}

div#center_block {
	float: left;
	width: 60%;
}

div#right_block {
	float: right;
	width: 20%;
}

div.error_message {
	width: 50%;
	padding: 10px;
	margin-top: 20px;
	text-align: center;
	color: white;
	background-color: #ec3232;
	opacity: 0.8;
	margin-bottom: 20px;
	display: none;
	margin-right: auto;
	margin-left: auto;
}

div.success_message {
	width: 50%;
	padding: 10px;
	margin-top: 20px;
	text-align: center;
	color: white;
	background-color: #4cc64c;
	margin-bottom: 20px;
	display: none;
	margin-right: auto;
	margin-left: auto;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

p {
	text-align: center;
}

p.p_inline {
	display: inline;
}

nav {
	display: inline-block;
	text-align: center;
  	vertical-align: middle;
}

nav a {
  display: block;
  border-bottom: 2pt solid lightblue;
  padding: 5px;
  transition: background-color 0.5s ease,
		color 1s ease;
}
nav a:first-child {
  border-top: 2pt solid lightblue;
}

nav a:hover {
  background-color: #c4d2f2;
  color: white;
  text-decoration: none;
  transition: background-color 0.1s ease,
		color .5s ease;
}

nav a.hide_link {
	display: none;
}

div.form {
	width: 100%;
	margin-left: auto;
	margin-right: auto;	
}

div.form * {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.form input {
	margin-top: 10px;
	margin-bottom:10px;
}

/* Main.php */

	#tot_disp {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	
	#svg_container {
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	
	#map {
		fill: blue;
		fill-opacity: 0.1;
		stroke-opacity: 0.9;
	}
	
	circle {
		fill: white;
		cursor: pointer;
	}
	
	circle.green {
		fill: green;
	}
	
	circle.yellow {
		fill: yellow;
	}
	
	circle.red {
		fill: red;
	}
	
	circle.selected {
		stroke: black;
		stroke-width: 1;
	}
	
	#total_disp {
		display: none;
	}
	
	#point_infos {
		text-align: center;
		display: none;
	}

/* Login.php */

/* Registration.php */